# THE FOLLOWING VALUES ARE PLACEHOLDERS INTENDED AS AN EXAMPLE. TO USE:
# - copy this file and rename to .env 
# - fill out the placeholders with the appropriate values for the given service after sign up

# Backend API URL
VITE_API_BASE_URL=https://restaurant-food-ordering-management.onrender.com

# Auth0 Configuration
VITE_AUTH0_DOMAIN=dev-xxx.us.auth0.com
VITE_AUTH0_CLIENT_ID=526536983332-aleeo5pie43k9o9j9srutin2iq8eddqk.apps.googleusercontent.com
VITE_AUTH0_CALLBACK_URL=https://restaurant-food-ordering-management.onrender.com/
VITE_AUTH0_AUDIENCE=xx-xxxx-xxx-api

# Stripe Configuration
VITE_STRIPE_PUB_KEY=pk_test_xxx